.App {
  text-align: center;
  color: #4d4d4d;
}

.title {
  text-align: center;
  font-size: 3em;
  line-height: 1.4em;
  margin-bottom: 0.2em;
  color: rgba(175, 47, 47, 0.15);
}

.TodoBox {
  display: flex;
  flex-direction: column;
}

.box-size {
  width: 40vw;
  height: 5vh;
  margin: 0 auto;
  border: 1px solid #999;
  line-height: 5vh;
}

.input-field {
  display: flex;
  justify-content: center;
}

.input-field .all-check {
  display: fixed;
  top: auto;
  width: 5vh;
  height: 5vh;
  /* line-height: 5vh; */
}

.input-field input {
  width: 40vw;
  border: none;
}

.input-field input:focus {
  outline: none;
}

.check-icon-on {
  color: #4d4d4d;
}

.check-icon-off {
  color: #d9d9d9;
}