ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: -1px 0 0 0;
}

.App {
  text-align: center;
  color: #4d4d4d;
}

.title {
  text-align: center;
  font-size: 5em;
  line-height: 1.4em;
  margin-bottom: 0.2em;
  color: rgba(175, 47, 47, 0.15);
}

.TodoBox {
  display: flex;
  flex-direction: column;
}

.box-size {
  width: 500px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #999;
  line-height: 50px;
}

.input-field {
  display: flex;
  justify-content: center;
}

.input-field .all-check {
  display: fixed;
  top: auto;
  width: 50px;
  height: 50px;
  /* line-height: 50px; */
}

.input-field input {
  width: 500px;
  border: none;
  font-size: 1.5em;
}

.input-field input:focus {
  outline: none;
}

.check-icon-on {
  color: #4d4d4d;
}

.check-icon-off {
  color: #d9d9d9;
}

.item {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.side-icon {
  width: 50px;
  height: 50px;
}

.content-text {
  margin-left: 10px;
  text-align: left;
  font-size: 1.5em;
}

/* @TODO: input 태그를 칸 안에 꽉 차게 채울 수는 없을까 */
input.content-text {
  width: 100%;
}

.content-text.todo-checked {
  color: #d9d9d9;
  text-decoration: line-through;
}

.option-line {
  display: grid;
  grid-template-columns: 5fr 6fr 5fr;
}

.option {
  display: flex;
  justify-content: space-between;
}

.option li {
  list-style: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.option li.selected {
  border: 1px solid rgba(175, 47, 47, 0.15);
}

.option li {
  cursor: pointer;
}